<div class="container">
    <div class="body border bg-white rounded rounded-4 shadow p-5 mx-auto mt-3">
        <div class="header">
            <div class="bg" style="background-color: #f44336;">
                <img src="https://invoice-generator.com/build/img/guide/creating-invoices.941a6fb6.jpg"
                    alt="Invoicing Generator">
            </div>
        </div>

        <h1>Creating Invoice</h1>
        <p>
            EasyInvoice is a versatile and accessible invoice generator that simplifies the invoicing process for
            businesses. Our platform offers a range of features designed to streamline invoice creation and management,
            allowing you to maintain a professional image while saving time and resources.
        </p>

        <h2>User-friendly Interface</h2>
        <p>
            Our platform boasts an intuitive and straightforward design, enabling users to create invoices with minimal
            effort. The step-by-step process ensures that even first-time invoice creators can generate accurate and
            professional invoices in no time.
        </p>

        <h2>Customizable Templates</h2>
        <p>
            Personalize your invoices by uploading your company logo, selecting your preferred color scheme, and
            choosing from various layout options. Customizable templates allow you to maintain a consistent brand image
            and create a professional appearance for your invoices.
        </p>

        <h2>Automatic Calculations</h2>
        <p>
            EasyInvoice automatically calculates the total amount, tax, and any applicable discounts, reducing the risk
            of errors and saving you time. This feature ensures that your invoices are always accurate and reliable.
        </p>

        <h2>Multi-language Support</h2>
        <p>
            Our invoice generator supports multiple languages, enabling you to cater to your international clients with
            ease. Generate invoices in various languages to expand your business reach and improve communication with
            your clients.
        </p>

        <h2>Secure Data Storage</h2>
        <p>
            EasyInvoice prioritizes the security and privacy of your data. Your invoice information is stored securely,
            ensuring that your sensitive business data remains protected.
        </p>

        <h2>Download and Share</h2>
        <p>
            Once your invoice is complete, you can easily download it as a PDF or share it via email directly from the
            platform. This feature allows you to quickly and efficiently distribute invoices to your clients, improving
            your invoicing process's overall efficiency.
        </p>

        <p>
            Choose EasyInvoice for a seamless invoice creation experience that saves you time and resources while
            maintaining a professional image for your business.
        </p>

        <hr class="mt-5 mb-1">

        <div class="row">
            <div class="col-6">
                <button class="btn-white start" [routerLink]="['/guide/getting-paid']">
                    Invoicing Basics
                </button>
            </div>
            <div class="col-6" style="text-align: end;">
                <button class="btn-white end" [routerLink]="['/guide/sending-invoices']">
                    Past Due Reminders
                </button>
            </div>
        </div>
    </div>
</div>