<div class="container">
    <div class="body border bg-white rounded rounded-4 shadow p-5 mx-auto mt-3">
        <div class="header">
            <div class="bg" style="background-color: #f44336;">
                <img src="https://invoice-generator.com/build/img/guide/creating-invoices.941a6fb6.jpg"
                    alt="Invoicing Generator">
            </div>
        </div>

        <h1>Using the Free Invoice Generator</h1>
        <p>
            Navigating through the invoicing process can be streamlined and simplified with the right tools. Our free
            invoice generator is designed to make this task as effortless as possible for freelancers and small business
            owners. This page will guide you through each step of accessing, customizing, creating, sending, and
            managing your invoices using our free tool.
        </p>

        <h2>Creating Your First Invoice</h2>

        <h3>Step-by-Step Walkthrough</h3>

        <ol>
            <li>Once you're in the invoice generator tool, start by filling in your business details, including your
                name or your company's name, contact information, and address.
            </li>

            <li>
                Add the client's details: name, address, and contact information.+
            </li>

            <li>
                Input the invoice date, payment due date, and a unique invoice number for tracking.
            </li>

            <li>
                List the services or products provided. For each item, include a detailed description, the quantity or
                hours, the price per unit or hourly rate, and the total cost for that item.
            </li>

            <li>
                If applicable, add taxes, shipping charges, or any other additional costs to get the total amount due.
            </li>

            <li>
                Customize the payment terms and instructions, specifying how and when you expect to be paid.
            </li>
        </ol>

        <h3>Tips for Service/Product Description</h3>
        <ul>
            <li>
                Once your invoice is ready, preview it to ensure all details are correct and professional.
            </li>

            <li>
                You can send the invoice directly to your client's email through the tool. Alternatively, you can
                download the invoice as a PDF and send it via your preferred email provider or a direct link.
            </li>

            <li>
                Include a friendly message with your invoice, reiterating your thanks for the client's business and
                highlighting any important payment terms or details.
            </li>
        </ul>

        <h3>Automated Reminders</h3>
        <ul>
            <li>
                Take advantage of the tool's feature to set up automated reminders for unpaid invoices. You can schedule
                these reminders to be sent out at specific intervals (e.g., 7 days, 14 days past the due date) to gently
                prompt your clients about outstanding payments.
            </li>
        </ul>

        <h2>Managing Received Payments</h2>

        <h3>Marking Invoices as Paid</h3>
        <ul>
            <li>
                When you receive payment, return to your invoicing system and select the invoice in question.
            </li>

            <li>
                Mark the invoice as "Paid," and enter the payment date. You can also add notes about the payment method
                if needed.
            </li>
        </ul>

        <h3>Tracking Partial Payments and Balances</h3>
        <ul>
            <li>
                If your customer has not paid the full balance then you can record partial payments. Simply enter the
                amount received and the date. The invoice will automatically update to reflect the outstanding balance.
            </li>

            <li>
                Keeping track of partial payments and outstanding balances is crucial for accurate financial records and
                forecasting your cash flow.
            </li>
        </ul>

        <p>
            Using our free invoice template, you can streamline your invoicing process, ensuring you spend less time on
            paperwork and more time growing your business. With these easy-to-follow steps and tips, you'll create,
            send, and manage your invoices like a pro.
        </p>

        <hr class="mt-5 mb-1">
      
        <div class="row">
            <div class="col-6">
                <button class="btn-white start" [routerLink]="['/guide/getting-paid']">
                    Invoicing Basics
                </button>
            </div>
            <div class="col-6" style="text-align: end;">
                <button class="btn-white end" [routerLink]="['/guide/sending-invoices']">
                    Past Due Reminders
                    </button>
            </div>
        </div>


    </div>
</div>