<div class="container">
    <div class="row">
        <div class="wpb_column vc_column_container col-sm-9">
            <div class="vc_column-inner ">
                <h1>Use the Correct Invoice Format: 7 Basic Elements You Must Include in Your Invoices</h1>


                <p>These are the basic elements every invoice should include:</p>
                <ol>
                    <li>The logo of the business</li>
                    <li>The sender’s name and contact information</li>
                    <li>The client’s name and contact information</li>
                    <li>The invoice number, the date it was issued and the due date for payment</li>
                    <li>An itemized breakdown of the services and/or products provided</li>
                    <li>The invoice summary, including the subtotal, any taxes added and the total</li>
                    <li>Invoice terms – the payment methods the business accepts, the period of time within which the
                        payment is due, and any other information that could be relevant (e.g., your return policy)</li>
                </ol>

                <div class="row center">
                    <button class="btn-white">Create invoice now</button>
                </div>
                

                <p>The following sub-sections will provide thorough explanations of each of these elements:</p>

                <h2>1. Logo for Invoices</h2>
                <p>This is pretty straight-forward – the top part of your invoice should feature the logo of your
                    business.
                    This makes the invoice look professional (it is professional, after all) and will make it easier for
                    the
                    client to remember who you are straight away. Make sure that the logo image you include on the
                    invoice
                    is of high-quality and not too small so your logo can be discerned easily. The logo is usually
                    aligned
                    to the left (if the language of the invoice is written from left to right – English, for example) or
                    to
                    the center.
                </p>

                <h2>2. Invoice Sender’s contact information</h2>
                <p>
                    The sender’s name and contact information appear at the top of invoice underneath the logo and are
                    usually also aligned to the left. The sender’s name (which is usually the name of your business or a
                    representative from your business) should be followed by the business’ address, telephone number and
                    email. Depending on the country or jurisdiction, you may be required to include other details, e.g.
                    your
                    VAT number (businesses in Europe are required to include VAT numbers if they’re VAT registered).
                </p>

                <h2>3. Client Contact Information (Payer/Invoice Receiver)</h2>
                <p>
                    The client’s contact information follows the sender’s contact information. This information might
                    appear
                    underneath the sender’s contact information or right beside it, on the right-hand side of the
                    invoice
                    (again, according to the direction of the language). It should include the name, address, phone
                    number
                    and email of the business or person you are invoicing. Please note that if you are invoicing a
                    company
                    with multiple offices and representatives, you should specify the person and/or department the
                    invoice
                    is intended for.
                </p>

                <p>For example:</p>
                <p>
                    <span>To:</span><br>
                    <span>Harry Potter</span><br>
                    <span>4 Privet Drive, Little Whinging, Surrey, England</span><br>
                    <span>604-555-XXXX</span><br>
                    <span>potter.h@hogwarts.uk</span><br>
                </p>

                <h2>4. Invoice Number and Date</h2>
                <p>When preparing an invoice, you should not neglect including the invoice number and date. These
                    details
                    are incredibly important as they reduce the chance of the invoice getting misplaced, as well as any
                    misunderstanding on the side ofthe client regarding the payment deadline.
                </p>
                <ul>
                    <li><b>Invoice Number </b> – The invoice number is its unique ID and can be referenced to when
                        corresponding with the client or other relevant entities. Some businesses only use numbers
                        (00001405), while others incorporate letters in the number for easier reference, e.g. the month,
                        the
                        client’s name, etc. (2017-9-WAL-008, standing for “eighth invoice for Wong & Associates Law
                        Offices
                        in September 2017”).
                    </li>
                    <li><b>Invoice Date </b> – The invoice date is the date the invoice was issued. Usually, it is also
                        the
                        day the products or services were purchased. Even if the invoice number includes the date, the
                        invoice date should still be written in a separate line.
                    </li>
                    <li><b>Due Date </b> – The due date is the date by which payment must be made. The payment period is
                        sometimes agreed on by both sides in advance; if no such agreement has been made, it is
                        customary to
                        determine that date by the standards in your industry. Common pay-by periods are 14, 30, 45 or
                        60
                        days.
                    </li>
                </ul>

                <h2>5. Itemized Breakdown of Services</h2>
                <p>
                    This is the part of the invoice which lists the products and/or services rendered, their prices and
                    any
                    other relevant details. All items should be described as clearly as possible, to avoid confusion. It
                    usually appears in the form of a table divided into several columns, with one row for every separate
                    service:
                </p>

                <ul>
                    <li>
                        <b>Services</b>– the service you performed or the product you sold to the client. If relevant,
                        also
                        include the type of service/product, its model name and/or number, color, size, etc. – whichever
                        details are important to you to track for inventory purposes. For example: <br>
                        Huawei Nexus 6P Smartphone – Matte Gold or CBT Therapy Session>.
                    </li>
                    <li>
                        <b>Quantity</b>– This should state the quantity the client purchased of the respective service,
                        i.e., the number of phones purchased, the number of therapy sessions provided, etc.
                    </li>
                    <li>
                        <b>Rate</b>– the price you are charging for the product/service.
                    </li>
                    <li>
                        <b>Subtotal</b>– This column lists the subtotal for each item, which is the product of quantity
                        multiplied by rate.
                    </li>
                </ul>

                <p>
                    These are the basic columns which should appear on every invoice, however, you may add more if
                    necessary: Hour, if the service is billable by the hour; Date, if the date on which the service was
                    provided is of importance; and so on.
                </p>

                <h2>6. Invoice Summary</h2>
                <p>
                    The invoice summary should appear right under the itemized breakdown of services. It sums up the
                    subtotal of all items, so the first line should be titled “Subtotal”. Under the subtotal, a line
                    named
                    “Tax” will specify the amount added by the tax (if there is more than one tax added, each different
                    tax
                    should be titled appropriately). The final line of the invoice summary is reserved for the grand
                    total
                    and should be titled appropriately – “Total”. The total is the final amount the client should pay
                    you,
                    so it is extremely important to double-check it and make sure there has been no mistake in your
                    calculations of the different services and the taxes added.
                </p>

                <h2>7. Invoice Terms</h2>
                <p>
                    The last part of the invoice should mention which methods of payment are accepted by your business:
                    check, PayPal, credit card, money transfer, etc. and provide further instructions, if necessary. You
                    can
                    mention any other information you deem important, such as your return policy, the interest on late
                    payments, etc.
                </p>

                <div class="row center">
                    <button class="btn-white">Create invoice now</button>
                </div>
            </div>
        </div>
    </div>
</div>