<mat-sidenav-container>
  <mat-sidenav-content class="">

  <div class="container">
           <!-- ------------------------------------------------------------------
    Banner
    ------------------------------------------------------------------ -->
    <div class="overflow-hidden banner-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div>
              <span class="f-s-16 f-w-600 m-b-16 d-flex align-items-center"><i-tabler name="rocket"
                  class="text-accent m-r-8"></i-tabler>Easy Invoice Generator</span>
              <h1 class="banner-title m-0">
                Easy Invoice Generator &
                <span class="text-primary">Free Online </span> Invoice Maker
              </h1>
              <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle">
                Use Templates to Create Invoices Online <br>
                Download, Print, Invoice with Easy Invoice Generator
              </p>
              <div class="m-t-24 hstack">
                <a mat-stroked-button color="primary"  [routerLink]="['/createinvoice']"
                  class="btn-custom border-primary">Create Invoice</a>
                <a  class="btn-new">Create Invoice</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-flex">
            <div class="p-24 banner-slider">
              <div class="d-flex">
                <div>
                  <div class="slider-img">
                    <img src="assets/images/landingpage/background/Slider-image.png" style="width: 300px;" alt="img1" />
                  </div>
                  <div class="slider-img">
                    <img src="assets/images/landingpage/background/Slider-image.png" style="width: 300px;" alt="img1" />
                  </div>
                </div>
                <div>
                  <div class="slider-img2">
                    <img src="assets/images/landingpage/background/Slider-image1.png" style="width: 300px;" alt="img1" />
                  </div>
                  <div class="slider-img2">
                    <img src="assets/images/landingpage/background/Slider-image1.png" style="width: 300px;" alt="img1" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
End Banner
------------------------------------------------------------------ -->

  
      <!-- ------------------------------------------------------------------
  Demo slider
  ------------------------------------------------------------------ -->
  <div class="bg-extra-light spacer" style="margin-top: 5%;padding: 0;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-sm-11">
          <h2 class="section-title text-center">
            Create your invoice in just a minutes
          </h2>
        </div>
      </div>
    </div>
    <div class="demo-slider overflow-hidden d-flex" style="margin-top: 0;">
      <div>
        <div class="demo-slide">
          <img src="assets/images/landingpage/background/Background-slider.png" alt="slide" />
        </div>
      </div>
      <div>
        <div class="demo-slide">
          <img src="assets/images/landingpage/background/Background-slider.png" alt="slide" />
        </div>
      </div>
    </div>
  </div>
  
      <!-- ------------------------------------------------------------------
  End Demo slider
  ------------------------------------------------------------------ -->
  
      <!-- ------------------------------------------------------------------
  Testimonial

  ------------------------------------------------------------------ -->

      <div class="spacer">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-11">
              <h2 class="section-title text-center">
                Don’t just take our words for it, See what users like you are
                saying
              </h2>
            </div>
          </div>
          <div class="row m-t-24 d-flex align-items-start">
            <div class="col-lg-4 col-sm-6" *ngFor="let testimonial of testimonials">
              <mat-card class="cardWithShadow m-t-10">
                <mat-card-content class="p-24">
                  <div class="d-flex align-items-center flex-column">
                    <img [src]="testimonial.imgSrc" alt="profile" class="rounded-circle" width="40" />

                    <div style="margin-left: 10px;">
                      <div>
                        <h6 class="mat-subtitle-1 f-s-16 f-w-600 m-0">
                          {{ testimonial.name }}
                        </h6>
                      </div>
                      <div class="m-l-12">
                        <span>{{ testimonial.subtext }}</span>
                      </div>

                    </div>
                  </div>
                  <div class="m-l-auto m-t-10">
                    <div class="d-flex align-items-center">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <i-tabler name="star-filled" class="fill-warning icon-18" *ngIf="star <= testimonial.rating"></i-tabler>
                        <i-tabler name="star" class="fill-warning icon-18" *ngIf="star > testimonial.rating"></i-tabler>
                      </ng-container>
                    </div>
                  </div>
                  <div>
                    <p class="m-t-24 f-s-14 m-b-0">
                      {{testimonial.desc}}
                    </p>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------------------------
  End Testimonial
  ------------------------------------------------------------------ -->
  
      <!-- ------------------------------------------------------------------
  Features
  ------------------------------------------------------------------ -->
      <!-- <div class="spacer" style="padding: 80px 0 80px;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-8">
              <span class="text-primary text-uppercase d-block text-center f-w-500">EASY INVOICE GENERATOR</span>
              <h2 class="section-title text-center m-t-16">
                Features of Easy Invoice Generator
              </h2>
            </div>
          </div>
  

          <div class="row m-t-24">
            <div class="col-sm-4 col-lg-3 text-center" *ngFor="let feature of features">
              <i-tabler [name]="feature.icon" class="icon-40 text-primary m-t-16"></i-tabler>
              <h6 class="m-0 f-s-18 f-w-600 m-b-8 m-t-24">{{ feature.title }}</h6>
              <span class="f-s-14 m-b-24 d-block lh-base">{{
                feature.subtext
                }}</span>
            </div>
          </div>
        </div>
      </div> -->
  
      <!-- ------------------------------------------------------------------
  End Features
  ------------------------------------------------------------------ -->
  
      <!-- ------------------------------------------------------------------
  call to action
  ------------------------------------------------------------------ -->
      <div class="container spacer-bottom">
        <div class="row justify-content-center">
          <div class="col-sm-10 col-lg-6">
            <mat-card class="cardWithShadow shape-card bg-size-cover" [style.background-image]="
            'url(/assets/images/landingpage/shape/line-bg.svg)'
          ">
              <mat-card-content class="p-32 text-center">
                <h3 class="f-s-24 f-w-600 m-0 m-t-12 mat-subtitle-1" style="line-height: 30px;">
                  Create Online Invoices for FREE with Easy Invoice Generator
                </h3>
                <!-- <span class="f-s-14 f-w-500 m-t-8 d-block"
              >Connect with us either on discord or email us</span
            > -->
                <div class="m-t-30 m-b-16 hstack justify-content-center">
                  <a mat-flat-button [routerLink]="['/createinvoice']" color="primary" class="btn-custom">Create Invoice</a>
                  <!-- <a
                mat-stroked-button
                href="https://adminmart.com/support"
                color="accent"
                class="btn-custom border-accent"
                >Submit Ticket</a
              > -->
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
  
      <!-- ------------------------------------------------------------------
  End call to action
  ------------------------------------------------------------------ -->
  
      <!-- ------------------------------------------------------------------
  buy section
  ------------------------------------------------------------------ -->
      <div class="bg-primary spacer-sm" style="border-radius: 5px;background-color: #128c7e !important;">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-5">
              <h3 class="m-t-0 section-title2 text-white m-b-24">
                Share invoices on WhatsApp
              </h3>
              <p class="m-t-0 text-white m-b-24" style="    font-size: 16px;
          line-height: 1.5;">
                Easy Invoice Generator helps you reach your customers and vendors wherever they are. Share invoices
                and purchase orders on WhatsApp.
              </p>
            </div>
            <div class="col-lg-5 text-right">
              <img src="assets/images/landingpage/background/c2a.png" alt="img" width="250" />
            </div>
          </div>
        </div>
      </div>
  
      <div class="container" style="margin-bottom: 10px;">
        <mat-card class="cardWithShadow c2a-card bg-size-cover" [style.background-image]="
        'url(/assets/images/landingpage/shape/line-bg-2.svg)'
      ">
                <mat-card-content class="p-24">
                  <div class="hstack justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <img
                        src="assets/images/landingpage/shape/badge.svg"
                        alt="badge"
                      />
        
                      <div style="margin-left: 24px;">
                        <h5 class="mat-subtitle-1" style="font-size: 21px;
                        font-weight: 600;
                        margin-bottom: 4px;
                        margin-top: 0;  ">
                          100% Accurate Invoice 
                        </h5>
                        <span style=" font-size: 14px;"
                          >We are providing accurate invoice</span
                        >
                      </div>
                    </div>
                    <a
                      mat-flat-button
                      color="primary"
                      class="btn-custom"
                      [routerLink]="['/createinvoice']"
                      >Create Invoice</a
                    >
                  </div>
                </mat-card-content>
        </mat-card>
      </div>
  
      <!-- ------------------------------------------------------------------
  buy section
  ------------------------------------------------------------------ -->
  </div>
  </mat-sidenav-content>

</mat-sidenav-container>