<div class="container">

    <!-- Blog section -->
    <section class="blogs-container">
    
        <!-- Blog Item  -->
        <div class="row">
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://i.pinimg.com/564x/25/66/66/25666619b179887ffb34e8df49ed2882.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Understanding Invoice Accounts: A Comprehensive Guide for Businesses in India
                        </h6>
                    </div>
                    <p class="description">
                        This outline covers various aspects of invoice account management tailored specifically for businesses operating in India
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/mastering']">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://i.pinimg.com/564x/d7/46/a0/d746a0c60b9d1f082010c47caf200470.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Mastering Invoice Generation: A Guide for Small Businesses
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/understanding-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://images.ctfassets.net/gnolt3j9rex6/F8Oqz-meta-image/78031ba92a11631da9b5af7e6a1066ad/efficiently-generate-invoices-with-our-online-tool.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Streamline Your Invoicing Process with Our Free Invoice Maker Tool
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/streamline-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://i.pinimg.com/564x/97/70/24/97702439d4d7654454ad97190b30892a.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Navigating GST Compliance for Your Invoice Website: A Comprehensive Guide

                        </h6>
                    </div>
                    <p class="description">
                        This outline covers various aspects of invoice account management tailored specifically for businesses operating in India
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/navigating-gst-invoice']">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://i.pinimg.com/564x/2a/23/87/2a238742a9727b9e7da64f7d788c0755.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Navigating VAT: A Guide for Small Businesses Using iFree Invoice
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/navigating-vat-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://i.pinimg.com/564x/57/e7/8f/57e78ff8af6e7ed4d9297df82f2c540b.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            5 Essential Tips for Creating and Sending Invoices Like a Pro
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/essential-tips-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://media.licdn.com/dms/image/D5612AQEMdoHjiGxFCQ/article-cover_image-shrink_720_1280/0/1710959160601?e=2147483647&v=beta&t=O2D1LjfvvuihBlCupfm2l8gtdMbL9eiCdlZjnadeG28" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Streamlining Your Accounting Tasks: Harnessing the Power of Invoices

                        </h6>
                    </div>
                    <p class="description">
                        This outline covers various aspects of invoice account management tailored specifically for businesses operating in India
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/streamlining-invoice']">Read More</button>
                    </div>
                </div>
            </div> 
        </div>
       
    </section>

</div>
