<div class="container">

    <!-- Blog section -->
    <section class="blogs-container">
    
        <!-- Blog Item  -->
        <div class="row">
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://thumbs.dreamstime.com/b/blogging-blog-concepts-ideas-worktable-blogging-blog-concepts-ideas-white-worktable-110423482.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Understanding Invoice Accounts: A Comprehensive Guide for Businesses in India
                        </h6>
                    </div>
                    <p class="description">
                        This outline covers various aspects of invoice account management tailored specifically for businesses operating in India
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/mastering']">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://c8.alamy.com/comp/2NAJWC9/text-new-blog-post-written-on-spiral-note-pad-on-table-with-typewriter-and-cup-of-coffee-blogging-and-journalism-concept-2NAJWC9.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Mastering Invoice Generation: A Guide for Small Businesses
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/understanding-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://c8.alamy.com/comp/2NAJWC9/text-new-blog-post-written-on-spiral-note-pad-on-table-with-typewriter-and-cup-of-coffee-blogging-and-journalism-concept-2NAJWC9.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Streamline Your Invoicing Process with Our Free Invoice Maker Tool
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/streamline-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://thumbs.dreamstime.com/b/blogging-blog-concepts-ideas-worktable-blogging-blog-concepts-ideas-white-worktable-110423482.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Navigating GST Compliance for Your Invoice Website: A Comprehensive Guide

                        </h6>
                    </div>
                    <p class="description">
                        This outline covers various aspects of invoice account management tailored specifically for businesses operating in India
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/navigating-gst-invoice']">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://c8.alamy.com/comp/2NAJWC9/text-new-blog-post-written-on-spiral-note-pad-on-table-with-typewriter-and-cup-of-coffee-blogging-and-journalism-concept-2NAJWC9.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Navigating VAT: A Guide for Small Businesses Using iFree Invoice
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/navigating-vat-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://c8.alamy.com/comp/2NAJWC9/text-new-blog-post-written-on-spiral-note-pad-on-table-with-typewriter-and-cup-of-coffee-blogging-and-journalism-concept-2NAJWC9.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            5 Essential Tips for Creating and Sending Invoices Like a Pro
                        </h6>
                    </div>
                    <p class="description">
                        As a small business owner or freelancer, managing finances can sometimes feel like navigating a labyrinth. Among the various financial tasks
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/essential-tips-invoice']" >Read More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="blogs-item">
                    <div class="blog-image">
                        <img src="https://thumbs.dreamstime.com/b/blogging-blog-concepts-ideas-worktable-blogging-blog-concepts-ideas-white-worktable-110423482.jpg" alt="blog-image">
                    </div>
                    <div class="blog-title">
                        <h6>
                            Streamlining Your Accounting Tasks: Harnessing the Power of Invoices

                        </h6>
                    </div>
                    <p class="description">
                        This outline covers various aspects of invoice account management tailored specifically for businesses operating in India
                    </p>
                    <div class="read-more-button">
                        <button [routerLink]="['/streamlining-invoice']">Read More</button>
                    </div>
                </div>
            </div> 
        </div>
       
    </section>

</div>
