
.blogs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.blogs-item {

    border-radius: .3rem;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    margin: .5rem;
    cursor: pointer;
    transition: all .3s;
    margin-top: 40px;
    // width: 100%;
}

.row{
    width: 100%;
}


.blog-title{
    width: 100%;
    font-size: 21px;

    h6{
        margin: 10px 0;
    }
}
.blogs-item:hover {
    transform: translateY(-4px);
    box-shadow: 10px 8px 30px rgb(0 0 0 / 30%);
}

.blog-image {
    overflow: hidden;
    border-radius: .3rem;
    height: 180px;
}

.blog-image:hover img {
    transition: all .3s;
    transform: scale(1.1);
    border-radius: .3rem;
}

.blog-image img {
    width: 100%;
    background-size: contain;
    border-radius: .3rem;
}

.description {
    font-size: .75rem;
    margin-top: 0px;
}


@media screen and (max-width: 551px) {
    .blogs-container {
        justify-content: center;
    }
    .container{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.read-more-button {
    margin: 15px 0px;
    text-align: end;
    width: 100%;
    a {

        cursor: pointer;
        outline: 0;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 12px;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        color: #0d6efd;
        border-color: #0d6efd;
        text-decoration: none;
        

        &:hover {
            color: #fff;
            background-color: #0d6efd;
            border-color: #0d6efd;
        }

    }
}