<nav>
  <input type="checkbox" id="nav-toggle">
  <div class="logo">
    <a [routerLink]="['/']">
      <img width="40%" src="../../../../assets/images/New Project (1).png" alt="">
    </a>
  </div>

 <ul class="links">
     <li><a (click)="closeMenuBar()" [routerLink]="['/help']">Help</a></li>
     <li><a (click)="closeMenuBar()" [routerLink]="['/blog']">Blog</a></li>
     <li><a (click)="closeMenuBar()" [routerLink]="['/guide']">Invoicing Guide</a></li>
     <div class="dropdown">
      <a class="dropbtn">Quick Links <i-tabler name="chevron-down" class="icon-16 m-l-5"></i-tabler></a>
      <div class="dropdown-content">
        <div class="text-hover-primary" *ngFor="let appdd of apps">
          <a (click)="closeMenuBar()" [routerLink]="[appdd.link]" class="d-flex align-items-center text-decoration-none" style="padding: 8px;">
            <button mat-mini-fab class="text-primary bg-light-primary shadow-none rounded">
              <img [src]="appdd.img" width="18" />
            </button>

            <div class="m-l-16">
              <h5 class="f-s-12 f-w-600 m-0 textprimary mat-body-1 hover-text" style="padding-left: 10px;">
                {{ appdd.title }}
              </h5>
            </div>
          </a>
        </div>
      </div>
    </div>
     <li class="createinvoicebutton"
     > <a (click)="closeMenuBar()" [routerLink]="['/createinvoice']">Create Invoice</a></li>
 </ul>
 
 <label for="nav-toggle" class="icon-burger">
     <div class="line"></div>
     <div class="line"></div>
     <div class="line"></div>
 </label>
</nav>
<label for="nav-toggle" class="icon-burger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</label>
