.bg-footer {
    background-color: #f6f9fc;
    padding: 0px 0 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-top: 3%;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    line-height: 30px;
    transition: all 0.5s;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 14px;
    text-decoration: none; 
}

.footer-link a:hover {
    color: #5d87ff;
}

.contact-info {
    line-height: 20px;
    transition: all 0.5s;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}

.contact-info-reserved {
    line-height: 20px;
    transition: all 0.5s;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 12px;
}
.list-unstyled{
    list-style-type: none;
}
.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.footer-alt {
    color: #000000;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 15px;
    line-height: 1.334rem;
}

.footer-heading:after {
    content: '';
    width: 50px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 3px solid #5d87ff;
}

.footer-heading-terms {
    position: relative;
    padding-bottom: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 15px;
    line-height: 1.334rem;
}

.footer-heading-terms:after {
    content: '';
    width: 50px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 3px solid #f6f9fc;
}
