@use "@angular/material" as mat;
@include mat.core();

@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/layouts/transitions";
@import "../../../../assets/scss/helpers/color";
@import "../../../../assets/scss/helpers/icon-size";
@import "../../../../assets/scss/themecolors/default_theme";
@import "../../../../assets/scss/overrides/materialoverrides";
@import "../../../../assets/scss/dark/dark";
@import "../../../../assets/scss/container";
@import "../../../../assets/scss/layouts/layouts";
@import "../../../../assets/scss/grid/grid";
@import "../../../../assets/scss/helpers/custom-flex";
@import "../../../../assets/scss/helpers/index";
@import "../../../../assets/scss/horizontal/horizontal";
@import "../../../../assets/scss/apps/calendar";
@import "../../../../assets/scss/apps/email";
@import "../../../../assets/scss/pages/dashboards";
@import "../../../../assets/scss/pages/auth";
@import "../../../../assets/scss/pages/landingpage";
@import "../../../../assets/scss/rtl/rtl";

.bg-footer {
    background-color: #f6f9fc;
    padding: 0px 0 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-top: 3%;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    line-height: 30px;
    transition: all 0.5s;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 14px;
    text-decoration: none; 
}

.footer-link a:hover {
    color: #5d87ff;
}

.contact-info {
    line-height: 20px;
    transition: all 0.5s;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}

.contact-info-reserved {
    line-height: 20px;
    transition: all 0.5s;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 12px;
}
.list-unstyled{
    list-style-type: none;
}
.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.footer-alt {
    color: #000000;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2a3547;
    font-size: 15px;
    line-height: 1.334rem;
}

.footer-heading:after {
    content: '';
    width: 50px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 3px solid #5d87ff;
}

.footer-heading-terms {
    position: relative;
    padding-bottom: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color:#f6f9fc;
    font-size: 15px;
    line-height: 1.334rem;
}

.footer-heading-terms:after {
    content: '';
    width: 50px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 3px solid #f6f9fc;
}
.footer-privcy-terms{
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        align-items: center;
    }
}

.row{
    padding: 20px 0;
}

.margin-top-47{
    margin-top: 47px;
}
@media only screen and (max-width: 1280px) {
    .margin-top-47{
        margin-top: 0 !important;
    }
    .footer-heading-terms {
       display: none !important;
    }
  }

@media only screen and (max-width: 668px) {
    .footer-privcy-terms {
        flex-direction: column !important;
    }
    .bg-footer{
        padding: 0 15px !important;

    }
}
