      <footer class="section bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="">
                        <h6 class="footer-heading m-b-0" routerLink="/">
                            <img src="../../../../assets/images/New Project (1).png" width="150" alt="">
                        </h6>
                        <ul class="list-unstyled footer-link mt-4 p-0">
                            <li><a>B-801 to 804, IT Park, Opp. Gajera International <br>
                                School, Digital Valley (Uttran) Surat, <br>
                                Gujarat, India - 394101</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="">
                        <h6 class="footer-heading m-b-0">RESOURCES</h6>
                        <ul class="list-unstyled footer-link mt-4 p-0">
                            <li><a href="" [routerLink]="['/guide']">Invoicing Guide</a></li>
                            <li><a href="" [routerLink]="['/help']">How to Use</a></li>
                            <li><a href="" [routerLink]="['/invoice-format-2']">Invoice Format</a></li>
                            <li><a href="" [routerLink]="['/e-invoices']">E-Invoicing</a></li>
                            <li><a href="" [routerLink]="['/invoice-templates']">Invoice Templates</a></li>
                            <li><a href="" [routerLink]="['/firc-india']">FIRC in India</a></li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="">
                        <h6 class="footer-heading-terms"></h6>
                        <p class="contact-info-reserved">©2024 Realloc Infotech PVT LTD. All Right Reserved.</p>
                        <p class="contact-info" routerLink="/privacy">Privacy Policy</p>
                        <p class="contact-info" routerLink="/terms">Terms of Service</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>