      <footer class="section bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="">
                        <h6 class="footer-heading">USE INVOICE GENERATOR</h6>
                        <ul class="list-unstyled footer-link mt-4 p-0">
                            <li><a href="">Invoice Template</a></li>
                            <li><a href="">Credit Note Template</a></li>
                            <li><a href="">Quote Template</a></li>
                            <li><a href="">Purchase Order Template</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="">
                        <h6 class="footer-heading">RESOURCES</h6>
                        <ul class="list-unstyled footer-link mt-4 p-0">
                            <li><a href="">Invoicing Guide</a></li>
                            <li><a href="">How to Use</a></li>
                            <li><a href="">Sign In</a></li>
                            <li><a href="">Sign Up</a></li>
                            <li><a href="">Release Notes</a></li>
                            <li><a href="">Developer API</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="">
                        <h6 class="footer-heading-terms"></h6>
                        <p class="contact-info-reserved">©2024 Realloc Infotech PVT LTD. All Right Reserved.</p>
                        <p class="contact-info">Terms of Service</p>
                        <p class="contact-info">Privacy Policy</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>