
<app-thm-header></app-thm-header>
<div style="margin-top: 100px;">
    <router-outlet></router-outlet>
</div>
<app-thm-footer></app-thm-footer>


<div *ngIf="!cookieExists" style="background-color: #5d87ff; height: 60px; position: fixed; z-index: 1; bottom: 0; width: 100%;" [@bottomToTop]>
    <div class="container" style="text-align: starts; margin: 0 auto; height: 100%; display: flex; align-items: center; justify-content: space-between;">
        <span class="cookies">This website uses cookies to improve your experience. By continuing to browse, <br> you agree to our use of cookies.</span>
        <button class="m-r-10" style="background-color: #ffffff; color: #000; font-weight: 500;" color="primary"
            mat-stroked-button (click)="setCookies()">
            Accept Cookies
        </button>
    </div>
</div>