<div class="container">
    <div class="card">
        <h1 class="display-3">Privacy Policy for EasyInvoice</h1>
        <hr class="my-3 my-md-5">
        <p>
            At EasyInvoice, we value your privacy and are committed to protecting your personal information. This
            privacy policy explains how we collect, use, and share the personal information we gather about you when you
            use our website, easyinvoice.com, and any of its subdomains (the "Site").
        </p>

        <p>By using the Site, you consent to the collection, use, and sharing of your personal information as described
            in this policy. If you do not agree with our policies and practices, do not use the Site.</p>

        <h2 class="mb-5 mt-8">Information We Collect</h2>
        <p>
            When you use the Site, we may collect the following information about you:
        </p>

        <ul>
            <li>Personal Information: We may collect personal information that you provide to us, such as your name,
                email address, mailing address, and phone number.</li>
            <li>Usage Information: We may collect information about how you use the Site, such as the pages you visit,
                the links you click, and the actions you take.</li>
            <li>Device Information: We may collect information about the device you use to access the Site, such as your
                IP address, browser type, and operating system.</li>
            <li>Unique Identifiers, such as username, account number or password;</li>
            <li>Geo location based on IP address;</li>
            <li>Information about your business, such as company name, company size, business type.</li>
        </ul>

        <h2 class="mb-5 mt-8">How We Use Your Information</h2>
        <p>
            We use the information we collect about you for the following purposes:
        </p>

        <ul>
            <li>To Provide and Improve the Site: We use your information to operate and improve the Site, including to provide customer support, to personalize your experience, and to analyze usage patterns.</li>
            <li>To Communicate with You: We may use your information to communicate with you, such as to send you updates about the Site, to respond to your inquiries, and to provide you with customer support.</li>
            <li>For Research and Development: We may use your information for research and development purposes, such as to test and improve the features and functionality of the Site.</li>
            <li>For Legal Purposes: We may use your information as we believe necessary or appropriate to comply with applicable laws, to enforce our terms of service, and to protect the rights, property, and safety of EasyInvoice and our users.</li>
        </ul>

        <h2 class="mb-5 mt-8">How We Share Your Information</h2>
        <p>
            We may share your information with the following third parties:
        </p>

        <ul>
            <li>Service Providers: We may share your information with service providers who perform services on our behalf, such as hosting providers, analytics providers, and customer support providers.</li>
            <li>Business Partners: We may share your information with our business partners for joint marketing and other purposes.</li>
            <li>Legal Purposes: We may share your information as we believe necessary or appropriate to comply with applicable laws, to enforce our terms of service, and to protect the rights, property, and safety of EasyInvoice and our users.</li>
        </ul>

        <h2 class="mb-5 mt-8">Data Retention</h2>
        <p>
            We retain your information for as long as necessary to provide you with the services and features of the Site. We may also retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
        </p>

        <h2 class="mb-5 mt-8">Security</h2>
        <p>
            We take reasonable measures to protect the information we collect about you from loss, theft, misuse, and
            unauthorized access, disclosure, alteration, and destruction. However, no method of transmission over the
            internet or electronic storage is completely secure, so we cannot guarantee the absolute security of your
            information.
        </p>

        <h2 class="mt-5 mb-3 fw-bold ">Your Rights</h2>

        <p>You have certain rights with respect to your personal information, including the right to access, correct, or
            delete your information. You may also have the right to object to or restrict certain types of processing of
            your information. To exercise these rights, please contact us using the contact information below.
        </p>

        <h2 class="mb-5 mt-8">Contact Us
        </h2>
        <p>If you have any questions or concerns about this privacy policy, please contact us at
            mailto:support@easyinvoice.com.</p>

        <h2 class="mb-5 mt-8">Changes to this Privacy Policy</h2>
        <p>We may update this privacy policy from time to time. If we make material changes to this policy, we will
            notify you by email or by posting a notice on the Site prior to the effective date of the changes. We
            encourage you to review this policy periodically for any updates or changes.</p>
    </div>
</div>