<div class="container">
    <div class="card">
                <h1 class="display-3">Foreign Inward Remittance Certificate (FIRC)</h1>
                <hr class="my-3 my-md-5">

                <p>
                    A Foreign Inward Remittance Certificate (FIRC) is a documented proof of all transactions entering
                    your home nation from foreign nations. Most statutory bodies use a FIRC as confirmation that you
                    received payment in foreign currency. If you're receiving a sum of money from a foreign country
                    through a broker, you must obtain this documented approval. If you don't have an account with an
                    authorized bank, you won't be able to receive your money.
                </p>

                <p>
                    In today's connected world, people move to other countries in search of better opportunities and
                    improved living. Every year, diligent migrant workers send billions of dollars to their home
                    countries. For some developing nations, these funds make up a sizable chunk of their gross domestic
                    product. Inward remittance, therefore, is one of the most recognized links between economic
                    advancement and migration.
                </p>

                <p>
                    An inward remittance is the money you receive in your bank account from a foreign bank account.
                    There is a cap of 30 inward remittances per calendar year, and a fee may be associated with inward
                    remittances depending on the financial institution. Generally, there is a $2,500 limit on inward
                    remittance transactions.
                </p>

                <p>
                    The International Monetary Fund explains inward remittance as the sum of two key parts: Employees'
                    Compensation and Personal Transfers. Employees' Compensation refers to the revenue that temporary
                    migrant workers gain from the host country. Personal Transfers refer to all financial transactions
                    between resident and non-resident parties.
                </p>

                <p>
                    The inward remittance process involves several parties and factors. The remitter is the sender of
                    the money who first goes to the bank to submit a request for payment to the recipient's bank
                    account. The remitter's bank may request certain information before green-lighting the transaction.
                    Upon finalizing the transaction, the sender's bank provides an update on the transfer. The remitter
                    can then send a piece of remittance advice to the recipient of the funds.
                </p>

                <p>
                    The remittee is the beneficiary of the internal remittance who may be receiving payment for services
                    rendered. The remittee's bank holds onto the funds upon receiving them to check for compliance
                    before properly finalizing the transaction. The remittee then contacts their bank and provides any
                    required documents, such as a contract, remittance information, payment invoice, and purpose code
                    for the type of transaction.
                </p>

                <p>
                    Proper record-keeping in all inward remittances is vital for future reference. You must also have a
                    copy of the Foreign Inward Remittance Certificate (FIRC), which you can obtain from your bank. There
                    are two main types of FIRCs: physical Foreign Inward Remittance Certificate and e-Foreign Inward
                    Remittance Certificate.
                </p>