<div class="container">
    <div class="row">
        <div class="wpb_column vc_column_container col-sm-9">
            <div class="vc_column-inner ">

                <h1>FIRC: How to get a Foreign Inward Remittance Certificate in India</h1>

                <p>
                    As a merchant or service exporter who receives international payments from customers, a FIRC is an
                    important document to own. This guide is intended to help global eCommerce sellers comprehend the
                    FIRC process. Read on to learn more on what you need to know about getting paid in India and
                    receiving a FIRC.
                </p>

                <h2>What’s a FIRC?</h2>
                <p>
                    According to the Reserve Bank of India (RBI) and the Foreign Exchange Dealers Association in India
                    (FEDAI), a FIRC (Foreign Inward Remittance Certificate) is a document that acts as proof of foreign
                    transfers to India. Many authorities use this document as evidence that an individual or business
                    has received a payment in a foreign currency from abroad.
                </p>

                <p>
                    In India, sellers and service exporters are required to FIRC, which can typically take over six
                    months to get. In addition, customers need to provide paper applications to their banks for every
                    single transaction made and they would have to follow up with banks as well. Also, many banks charge
                    high fees for processing FIRC requests.
                </p>

                <h2>FIRC Request Format</h2>
                <p>A FIRC document usually contains the following information:</p>
                <ul>
                    <li>Beneficiary’s name</li>
                    <li>Indication of whether the amount is paid by cash or to the person’s bank account</li>
                    <li>Name and address of the person who sent the money</li>
                    <li>Name and address of the first bank who processed the foreign transaction</li>
                    <li>Demand Draft (DD) or Telegraphic Transfer (TT) number or Cheque number</li>
                    <li>The amount denominated in that foreign currency</li>
                    <li>The equivalent amount denominated in rupees (both fully written out and using just numerals)
                    </li>
                    <li>Name of the recipient of the funds</li>
                    <li>The exchange rate that was applied to the transaction</li>
                    <li>The purpose of the remittance</li>
                </ul>

                <p>
                    A typical example of the format of a physical Foreign Inward Remittance Certificate Request can be
                    seen below:
                </p>

                <h2>Types of FIRC:</h2>
                <ul>
                    <li>Physical FIRC</li>
                </ul>
                <p>
                    – Formally discontinued as of 2016, from 2016 onwards remitter banks issue an alternative document
                    called an advice, a statement or a NOC for your home bank to complete the e-FIRC process.
                </p>

                <ul>
                    <li>e-FIRC</li>
                </ul>
                <p>
                    – This process is completed by your home bank when they receive an advice, statement or NOC from the
                    remitter bank and when they collect additional required documents as explained below. Typically, the
                    home bank, when satisfied with the documents, generate an Inward Remittance (IRM) on the government
                    export portal (EDPMS), and the IRM number is referred to further as e-FIRC number.
                </p>

                <p>
                    Read more about getting automatic digital E-FIRC with Payoneer:
                    www.payoneer.com/in/solutions/digital-firc/
                </p>

                <h2>What’s the Procedure for Requesting a FIRC or an Advice?</h2>
                <p>
                    If your transaction falls under the reporting of EDPMS, your transaction is eligible for an e-FIRC.
                    You would need to follow RBI regulations and the bank in India where the remittance was received.
                </p>

                <p>
                    In other cases, to request a FIRC, a letter to the bank will need to be sent with the following
                    details of the transaction:
                </p>

                <ul>
                    <li>UTR number</li>
                    <li>Account number</li>
                    <li>Amount of the transfer</li>
                    <li>Date of the transfer</li>
                    <li>Purpose of the transfer</li>
                    <li>Name of recipient</li>
                </ul>

                <p>
                    The recipient will then need to pay for the issuance of the FIRC which will be delivered either
                    physically or electronically.
                </p>

                <h2>Issuance of e-FIRC</h2>
                <p>
                    When the export proceeds for an export of goods and services is received by a bank other than the
                    bank through which documents are submitted, the recipient bank issues an e-FIRC to connect the two.
                    Typically, when the home bank is satisfied with the documents will generate an Inward remittance
                    (IRM) on the government export portal (EDPMS), and the IRM number is referred to further as e-FIRC
                    number.
                </p>

                <h2>Get Automated digital e-FIRCs in India with Payoneer</h2>
                <p>
                    Payoneer has simplified the process of requesting a FIRC so that you can focus more of your time on
                    growing your business. For the first time in India, sellers and service providers who receive global
                    payments are now able to get their digital FIRCs automatically delivered to them! You’ll no longer
                    need to spend time, money and effort. Spend less time focusing on tedious tasks and more time on
                    growing your global business.
                </p>

                <h2>How can i get a digital E-FIRC?</h2>
                <p>
                    You’ll receive your digital FIRCs straight to your Payoneer account, completely free of charge, and
                    if everything goes well, it will be delivered and available for download within 7-15 days of
                    receiving a payment. No more manual requests, high fees or long waiting periods!
                </p>

                <p>
                    Once your first digital FIRCs arrives, you’ll receive an email with a password and instructions to
                    access it. Follow the steps below:
                </p>

                <p>
                    1. Sign into www.payoneer.com
                </p>

                <p>
                    2. Click on the notification’s icon and search for the message.
                </p>

                <p>
                    3. Open the message and click on the embedded link to download the password protected document.
                </p>

                <p>
                    Each time a document is available for you, you will get a message directly to your Payoneer account.
                </p>

                <h2>FAQs</h2>
                <ol>
                    <li>
                        How do I get my digital FIRC?
                    </li>
                    <p>
                        You will receive your digital FIRC directly to your Payoneer account. You can then download your
                        digital FIRC within 7-15 days of receiving a payment. Please note: Some outstanding FIRC
                        requests may take longer to process.
                    </p>

                    <li>
                        What are the charges associated with the digital FIRC?
                    </li>
                    <p>
                        For a limited time only, your digital FIRC will be free of charge. We will notify you in advance when this offer expires.
                    </p>

                    <li>
                        How do I access my digital FIRC?
                    </li>
                    <p>
                        To access your digital FIRC, please see the section above under How does it work and follow the steps written.
                    </p>
                </ol>