<div class="container">
    <div class="card">
                <h1 class="display-3">Invoice Templates: Different Elements to include and customize</h1>
        <hr class="my-3 my-md-5">


                <p>In the previous chapter we’ve covered how to write invoices & templates in the correct format: all
                    the
                    different elements invoices should include, the order in which these elements should appear on the
                    invoice and so on. However, you shouldn’t have to start afresh every time you want to issue an
                    invoice
                    by opening a brand new document, writing all the required fields on it and filling them out. It’s
                    much
                    easier to create a template: then all you have to do each time you want to issue an invoice is fill
                    it
                    out with the relevant client’s order details. In the rare case where you receive a special request
                    to
                    send a different type of invoice, you can simply cut out the unnecessary elements, add new ones,
                    move
                    elements around and so on (take care not to erase the original template, though!).
                </p>

                <p>
                    In this chapter we’ll discuss different types of temples and various programs on which you can
                    create
                    such templates.
                </p>

                <h2 class="mb-5 mt-8">Different Types of Invoice Templates</h2>
                <p>Ideally, an invoice template should include all the following elements. The order presented here is
                    the
                    recommended order in which these elements should appear on a blank invoice template:
                </p>
                <ul>
                    <li>The <b>Logo</b> of your business – at the top of the invoice</li>
                    <li>A field for the sender’s name and contact information, titled <b>“From“</b></li>
                    <li>A field for the client’s name and contact information, titled <b>“To“</b></li>
                    <li>A field for the <b>Invoice Number</b></li>
                    <li>A field for the <b>Invoice Date</b> (the date on which it is issued)</li>
                    <li>A field for the <b>Due Date</b> (the date by which the amount on the invoice should be paid)</li>
                    <li>A table with the following headings: <b>Item, Hours/Quantity, Rate</b> (per hour/per unit), <b>Tax</b> and
                        <b>Subtotal.</b> The table should include several empty rows in which you can write the items you’re
                        billing; or simply have an option to add as many items as you want.
                    </li>
                    <li>A smaller table headed <b>Invoice Summary,</b> followed by the fields <b>Subtotal, Tax</b> and <b>Total</b></li>
                    <li>The invoice should end with a box detailing the <b>Invoice Terms</b></li>
                </ul>

                <p>
                    The following image shows an invoice based on a template. This template is slightly different than
                    the
                    one described above, but the basics are the same.
                </p>

                <h2 class="mb-5 mt-8">Different Invoice Types, Designs & Elements</h2>
                <p>
                    While the basics are always pretty similar in every type of invoice, there are several ways in which
                    invoice templates could differ.
                </p>

                <h2 class="mb-5 mt-8">1) Type of invoice</h2>
                <p>
                    The invoice template should match the type of invoice you want to issue. For a standard invoice,
                    like
                    the one used in most industries, the template detailed above would be just fine. However, a template
                    for
                    a commercial invoice will look different: such an invoice is used when products are crossing
                    international borders, so it would include fields like the country of origin, country of
                    destination,
                    the carrier identification number, etc. The same goes for other types of invoices: different
                    templates
                    need to be created for a proforma invoice, a utility invoice, a debit memo, a timesheet and so on.
                </p>

                <h2 class="mb-5 mt-8">2) Design</h2>
                <p>
                    Invoice templates can differ from each other by their designs. For example, some businesses would
                    prefer
                    to feature their logo on the bottom or the side of the invoice instead of the top. While one
                    business
                    would stick to a basic, minimalistic design with no frills, another business could choose to make
                    its
                    invoices on-brand, using the brand colors, a special font, etc.
                </p>

                <h2 class="mb-5 mt-8">3) Invoice elements</h2>
                <p>
                    different businesses may choose to include different elements on the invoice, according to the type
                    of
                    business and the services/products it provides. While a therapist would use “hours” as the billable
                    unit, a jewelry designer would probably use “units”. Many businesses that sell products often choose
                    to
                    add fields that describe the specific product sold, like “model”, “color”, “version” and so on.
                </p>

                <h2 class="mb-5 mt-8">Different Software and Apps to Create Invoices on</h2>
                <p>
                    So how does one actually create invoice templates for their business? It’s quite simple, really –
                    there
                    are plenty of invoicing software solutions to choose from today, as well as websites you can create
                    an
                    invoice on quickly and easily. Some of these programs, apps & softwares have to be purchased and
                    downloaded to your computer; plus, you’d need a license number for using them. Other programs are
                    completely free, or at least free for a trial period. Even simpler and more convenient are websites
                    that
                    provide you with a modular free invoice template with which you can create invoices tailored to your
                    needs online and send them to your clients right away. These websites usually require you subscribe,
                    but
                    using them is free of charge (although some may require a yearly or monthly fee, but it is usually
                    quite
                    low).
                </p>
    </div>
</div>