<div class="container">
    <div class="card">
        <div class="bg" style="background-color: #4766b8">
            <img src="../../../../../assets/images/send-invoice.jpg"
                alt="Invoicing Generator">
        </div>

        <h1 class="display-3">Sending Invoice</h1>
        <hr class="my-3 my-md-5">

        <p>
            Sending invoices to your customers has never been easier with EasyInvoice. With our WhatsApp functionality,
            you can quickly and easily send invoices directly to your customers' phones. Here's how it works:
        </p>

        <ol>
            <li><b>Select the Invoice :</b>Go to the Invoices tab and select the invoice you want to send.</li>
            <li><b>Tap Share :</b>Tap the Share button to open the sharing options.</li>
            <li><b>Choose WhatsApp :</b>Choose WhatsApp from the list of available apps.</li>
            <li><b>Select Contact :</b>Select the contact you want to send the invoice to.</li>
            <li><b>Add Message (Optional) :</b>Add a message if you want, and then tap Send.</li>
        </ol>

        <p>
            With EasyInvoice, you can send invoices to your customers in just a few taps, making it easier than ever to
            get paid for your work. Plus, with WhatsApp integration, you can reach your customers wherever they are,
            ensuring that your invoices are seen and acted upon in a timely manner. Try it out today and see how easy
            invoicing can be!
        </p>

        <hr class="mt-5 mb-1">

        <div class="row">
            <div class="col-6">
                <button class="btn-white start" [routerLink]="['/guide/creating-invoices']">
                    Creating Invoice
                </button>
            </div>
            <div class="col-6" style="text-align: end;">
                <button class="btn-white end" [routerLink]="['/guide/best-practices']">
                    Invoice Best Practies
                </button>
            </div>
        </div>
    </div>
</div>