<div class="container">
        <div class="card">
            <div class="bg" style="background-color: #ebb20a">
                <img src="https://invoice-generator.com/build/img/guide/accounting-basics.a04cd76c.jpg"
                    alt="Invoicing Generator">
            </div>

        <h1 class="display-3">Invoice Best Practies</h1>
        <hr class="my-3 my-md-5">

        <p>
            Creating an invoice may seem like a straightforward task, but there are best practices that can help ensure
            timely payment and clear communication between you and your client. Here are some tips to keep in mind when
            creating an invoice:
        </p>

        <ul>
            <li>
                <b>Include all necessary information:</b> Be sure to include your name and contact information, your
                client's name and contact information, a unique invoice number, the date, and a clear description of the
                products or services provided. This will help ensure that your invoice is processed correctly and that
                there are no misunderstandings about the products or services provided.
            </li>
            <li>
                <b>Use clear and concise language:</b>Avoid using jargon or abbreviations that may be confusing to your
                client. Use simple and straightforward language to describe the products or services provided. This will
                help your client understand exactly what they are being charged for and reduce the likelihood of errors
                or misunderstandings.
            </li>
            <li>
                <b>Break down the costs:</b>Clearly list the cost of each product or service provided, along with any
                applicable taxes or fees. This will help your client understand exactly what they are being charged for
                and reduce the likelihood of errors or misunderstandings.
            </li>
            <li>
                <b>Specify payment terms:</b>Clearly state when payment is due, and whether you accept checks,
                electronic payments, or other forms of payment. This will help ensure that there are no
                misunderstandings about how or when payment is due.
            <li>
                <b>Follow up on overdue invoices:</b> If an invoice becomes overdue, be sure to follow up with your
                client in a professional and timely manner. This will help ensure that you are paid in a timely manner
                and reduce the likelihood of misunderstandings or disputes.
        </ul>

        <hr class="mt-5 mb-1">

        <div class="row end">
            <button class="btn-white" [routerLink]="['/guide/sending-invoices']">
                Sending Invoice
            </button>
        </div>
    </div>
</div>