/* You can add global styles to this file, and also import other style files */


@use "@angular/material" as mat;
@include mat.core();

@import "./assets/scss/variables";

@import "./assets/scss/layouts/transitions";
@import "./assets/scss/helpers/color";
@import "./assets/scss/helpers/icon-size";

@import "./assets/scss/themecolors/default_theme";
@include mat.all-component-themes($bluetheme);

.dark-theme {
  @include mat.all-component-colors($darkbluetheme);
}
.orange_theme {
  @import "./assets/scss/themecolors/orange_theme";
  @include mat.all-component-colors($orangetheme);
}

.aqua_theme {
  @import "./assets/scss/themecolors/aqua_theme";
  @include mat.all-component-colors($aquatheme);
}

.purple_theme {
  @import "./assets/scss/themecolors/purple_theme";
  @include mat.all-component-colors($purpletheme);
}

.green_theme {
  @import "./assets/scss/themecolors/green_theme";
  @include mat.all-component-colors($greentheme);
}

.cyan_theme {
  @import "./assets/scss/themecolors/cyan_theme";
  @include mat.all-component-colors($cyantheme);
}
@import "./assets/scss/overrides/materialoverrides";
@import "./assets/scss/dark/dark";
@import "./assets/scss/container";
@import "./assets/scss/layouts/layouts";
@import "./assets/scss/grid/grid";
@import "./assets/scss/helpers/custom-flex";
@import "./assets/scss/helpers/index";
@import "./assets/scss/horizontal/horizontal";
@import "./assets/scss/apps/calendar";
@import "./assets/scss/apps/email";
@import "./assets/scss/pages/dashboards";
@import "./assets/scss/pages/auth";
@import "./assets/scss/pages/landingpage";
@import "./assets/scss/rtl/rtl";

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    max-width: 1000px !important;
}

.cookiesBg {
    text-align: starts;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cookies {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 900px) {
    .cookies {
        font-size: 14px !important;
    }

    .cookies {
        br {
            display: none;
        }
    }
    .cookiesHeight{
        padding: 10px;
    }
    .cookies-button{
        margin-top: 10px !important;
    }
    .cookiesBg{
        flex-direction: column !important;
    }
}

@media screen and (max-width: 450px) {
    .container{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.btn-white{
    
border: 0;
outline: 0;
cursor: pointer;
border: 1px solid #5d87ff !important;
color: rgb(60, 66, 87);
background-color: rgb(255, 255, 255);
box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
padding: 4px 8px;
display: inline-block;
min-height: 28px;
transition: background-color .24s,box-shadow .24s;
:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

}